<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册页面</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
        h1 a {
            color: red;
        }
    </style>
</head>
<body>
    <div id="header">
        <img class="logo_img" alt="" src="/static/img/logo.gif">
        <span class="wel_word"></span>
        <div>
            <span>欢迎<span class="um_span">韩总</span>光临尚硅谷书城</span>
            <a href="/pages/cart/cart.html">购物车</a>
            <a href="/">注销</a>&nbsp;&nbsp;
            <a href="/">返回</a>
        </div>
    </div>
    <div id="main">
        <h1>注册成功!<a href="/">转到主页</a> </h1>
    </div>
    <div id="bottom">
        <span>
            尚硅谷书城.Copyright &copy;2021
        </span>
    </div>
</body>
</html>